.vs
Library/LastBuild.buildreport
Library/metadata
Library/ScriptAssemblies
Library/EditorOnlyScriptingUserSettings.json
Library/*Cache
Library/*.log
Library/*.db
Library/expandedItems
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/ScriptMapper
Library/EditorInstance.json
Temp
obj
Logs
*.log
*.swp
ProjectSettings
*.csproj
*.sln
UIElementsSchema
